<main class='grid-container'>
  <h1>Punchclock</h1>
  <section>
    <h2>Date: <%= Date.today %></h2>
  </section>
  <section>
    <h3>Time is:</h3>
    <time id='currentTime' class='currentTime'></time>
  </section>

  <%= form_with model: @clock, local: true do |form| %>
  <% if @clock.errors.any? %>
   <div id='error_explanation'>
     <h2>
       <%= pluralize(@clock.errors.count, 'error') %> prohibited
       this log from being saved:
     </h2>
     <ul>
       <% @clock.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
 <% end %>
   <p>
     <%= form.label :user, 'Name' %>
     <%= form.text_field :user %>
   </p>
   <p>
     <%= form.label :in_out, 'In/Out' %>
     <%= form.select :in_out, options_for_select([['In','In'], ['Out', 'Out']])  %>
   </p>
   <p>
     <%= form.submit 'Log time' %>
   </p>
  <% end %>
  <%= link_to 'See all logs', clocks_path %>
</main>
